Source: manila-ui
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: openstack-dashboard (>= 2015.1.0),
                     python-babel,
                     python-compressor,
                     python-coverage,
                     python-django,
                     python-django-horizon,
                     python-django-nose,
                     python-hacking,
                     python-iso8601,
                     python-keystoneclient (>= 1:1.1.0),
                     python-manilaclient (>= 1.0.4),
                     python-mock,
                     python-mox,
                     python-nose,
                     python-nose-exclude,
                     python-nosehtmloutput,
                     python-openstack-auth (>= 1.1.7),
                     python-openstack.nose-plugin,
                     python-oslosphinx (>= 2.2.0.0),
                     python-six (>= 1.7.0),
                     python-testscenarios,
                     python-testtools,
                     subunit,
                     testrepository,
Build-Conflicts: python-unittest2,
Standards-Version: 3.9.6
Homepage: https://github.com/hp-storage/manila-ui
Vcs-Git: git://anonscm.debian.org/openstack/manila-ui.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/manila-ui.git;a=summary

Package: python-manila-ui
Architecture: all
Depends: openstack-dashboard (>= 2015.1.0),
         python-babel,
         python-compressor,
         python-django,
         python-iso8601,
         python-keystoneclient (>= 1:1.1.0),
         python-manilaclient (>= 1.0.4),
         python-openstack-auth (>= 1.1.7),
         python-six (>= 1.7.0),
         ${misc:Depends},
         ${python:Depends},
Description: OpenStack shared file system as a service - Dashboard plugin
 Manila is an OpenStack project to provide Shared Filesystems as a service.
 It provides coordinated access to shared or distributed file systems. While
 the primary consumption of file shares would be across OpenStack Compute
 instances, the service is also intended to be accessible as an independent
 capability in line with the modular design established by other OpenStack
 services. Manila is extensible for multiple backends (to support vendor or
 file system specific nuances / capabilities) and accommodates any of a
 variety of shared or distributed file system types.
 .
 This package contains the Manila OpenStack dashboard plugin.
